body {
  font-family: "Tajawal", sans-serif;
  background-color: #f8f9fa;
}

.hero-gradient {
  background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.hero-gradient {
  background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}
.stat-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#characters {
  background: #f8f9fa;
}

.character-card {
  transition: 0.4s;
  border-radius: 18px;
}

.character-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.character-card img {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
